@CHARSET "ISO-8859-1";

.login {
	margin: auto;
	width: 26%;
	height: 100%;
	background-color: rgb(231, 229, 116);
	border-top-style: dashed;
  	border-right-style: dashed;
  	border-bottom-style: dashed;
  	border-left-style: dashed;
}